* {
    font-family: 'Ubuntu', sans-serif;
}

/* this is needed to be overridden explicetely as above '*' is not working for button's. */
button {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
	font-family: 'Caveat', cursive;
}

.digital-time {
    font-family: 'Iceland', cursive;
    font-size: 22vw;  /* setting it to vw will make it responsive rather than setting pt and % */
    text-align: center;
    vertical-align: middle;
}

#main-content {
    text-align: center;
    vertical-align: middle;
}

.analog-time {
    text-align: center;
    vertical-align: middle;
}

canvas {
    text-align: center;
    vertical-align: middle;
}
